<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a href="/about.html">About</a>
                </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; ISHPI 2015. All Rights Reserved</p>
        </div>
    </div>
</div>