
h3 {
	padding-left: 5px;
}
dl {
	color: black;
  	font-size: 16px;
  	margin-top: 5px;
}

.dl-header {
	background-color: #24a;
	color: #ffffff;
	padding: 5px 5px 5px 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dl dt {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	margin-bottom: -4px;
	cursor: pointer;
}

dl dd {
	padding-bottom: 0px;
	font-weight: normal;
	padding-left: 14px;
}

li {
	margin-top: -3px;
}

.box-panel {
  position: relative;
  /* margin: 0 -15px 15px; */
  margin-top: 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,.15);
  box-shadow: 3px 3px 6px rgba(0,0,0,.15);
  word-wrap: break-word;
}

.box-info {
  padding: 20px 20px 20px 20px;
}

.box-panel dl {
	margin-top: 0px;
	margin-left: 0px;	
}

.results-divider {
    width: 100%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.return-btn {
	padding-top: 50px;
	padding-left: 15px;
}

.modal {
	position: absolute;
	top: 5px;	
}

.modal-content {
	padding-top: 10px;
	padding-left: 10px;
}