/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}
body {
	padding-top: 50px;
	padding-bottom: 50px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

p {
	font-size: 17px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	color: #555;
}

i {
	padding-left: 5px;
	padding-right: 5px;
}

.topnav, .navbar .navbar-brand, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:visited {
    font-size: 14px; 
    background-color: #2244aa; 
    color: #ffffff;
}

/* mouse over nav link */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
    color: #c0c0c0;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    text-align: center;
    color: inherit;
    background-size: cover;
}



.intro-message {
    position: relative;
    padding-top: 20px;
}

.intro-message .col-sm {
	
}

.intro-message > div > div > h1 {
    margin: 0;
    text-align: left;
}

.intro-message > div > div > i {
    margin: 0;
}

/* col-xs */
@media only screen and (min-width: 100px) {
    .scale {
        font-size: 15vw;
    }
}

/* col-md */
@media only screen and (min-width: 768px) {
    .scale {
        font-size: 75px;
    }
}


.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.about-divider {
	text-align: left;
    width: 100%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > div > div > h3 {
	text-align: left;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }


    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.section-heading {
    margin-bottom: 30px;
}


.banner-social-buttons {
    float: right;
    margin-top: 0;
}


footer {
    padding: 50px 0;
    background-color: #ffffff;
}

p.copyright {
    margin: 15px 0 0;
    color: #555;
}

a.btn {
	background-color: #5cb85c;
	white-space: normal;
}

div.about > div > p {
	padding-left: 15px;
}

#search {
    position: relative;
}

#search h4 {
	color: red;
}


#custom-search-input {
    padding: 3px;
    border: solid 1px #ddd;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    margin-top: 0px;
    margin-left: 0px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;